html {
  height: 100%;
  width: 100%;
}
* {
    padding: 0;
    margin: 0;
}
/*
Navbar stuff
*/
ul {
  overflow: hidden;
  list-style-type: none;
  background-color: #222222;
  position:fixed;
  top: 0;
  width:100%
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
}
li a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #808080;
}
/*
Main page CSS
*/
#intro {
  margin-top: 48px;
    height: 400px;
    background-image: url("https://mcjian09.github.io/trsc/images/trsc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom 60% left 40%;
  text-align: center;
}
.font {
  font-size: 35px;
  background-color: #afeeee;
  padding: 10px;
  color: #404040;
}

#about {
    height: auto;
    color: white;
    background-color: #111;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px 0;
}
.about-us-learn-more {
  display: block;
  position: relative;
  text-align: center;
  background-color: #9ad9c8;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  min-height: 20px;
  min-width: 60px;
  margin: 0 auto;
  font-family: 'Unica One';
}
.about-us-learn-more:hover {
    background-color: #c3ebe0;
    color: black;
    transition: 0.3s;
}
#mission {
  height: auto;
  color: white;
  background-color: #111;
  text-align: center;
  vertical-align: middle;
  padding: 20px 20px 0;
}
#events {
  
}
